.header {
	display: flex;
	padding: 20px 40px;
	margin-bottom: 100px;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #c9c9c9;
}
.logo {
	text-decoration: none;
	color: inherit;
	display: flex;
	font-size: 32px;
}
.logo b {
	font-weight: 700;
	color: rgb(20, 106, 225);
}
.header__search,
button {
	font-size: 16px;
	border: none;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
}
button {
	text-align: center;
}
.header__search {
	background: #c9c9c9;
}
.home__categories button.active {
	background-color: black;
	color: azure;
}
.loader {
	margin: 20px;
	font-size: 28px;
}
.hidden {
	display: none;
}
.header__input {
	display: flex;
	position: relative;
}
.svg {
	width: 24px;
	height: 24px;
	position: absolute;
	right: 10px;
	top: 8px;
	opacity: 0;
	transform: scale(0.8);
	transition: opacity 0.4s ease, transform 0.3s ease;
	pointer-events: none;
}
.svg.hidden {
	display: none;
}

.svg.visible {
	opacity: 1;
	transform: scale(1);
	pointer-events: auto;
	cursor: pointer;
}
