.header {
	display: flex;
	padding: 20px 40px;
	margin-bottom: 100px;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #c9c9c9;
}
.logo {
	text-decoration: none;
	color: inherit;
	display: flex;
	font-size: 32px;
}
.logo b {
	font-weight: 700;
	color: rgb(20, 106, 225);
}
.header__search,
button {
	font-size: 16px;
	border: none;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
}
button {
	text-align: center;
}
.header__search {
	background: #c9c9c9;
}
.home__categories button.active {
	background-color: black;
	color: azure;
}
.loader {
	margin: 20px;
	font-size: 28px;
}
.hidden {
	display: none;
}
