.footer {
	position: fixed;
	bottom: 0;
	margin-top: 30px;
	width: 93vw;
	padding: 20px 40px;
}
.footer__wrapper {
	display: flex;
	align-items: center;
	border-top: 1px solid #c9c9c9;
	padding-top: 20px;
}
.footer__text {
	font-size: 18px;
	margin-left: 20px;
}
