.news-card {
	background: #f2f2f0;
	padding: 2px 8px;
	margin: 20px;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 340px;
}
.news-card__image {
	width: 80px;
	height: 80px;
	opacity: 0;
	border-radius: 10px;
}
.news-card__image.loaded {
	opacity: 1;
}
.image-loader {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.news-card__content {
	margin-left: 10px;
}
.news-card__source {
	text-decoration: underline;
	color: #b9b9b8;
	font-size: 18px;
}
.news-card__title {
	display: -webkit-box;
	-webkit-line-clamp: 2; /* сколько строк показывать */
	-webkit-box-orient: vertical;
	overflow: hidden; /* скрываем лишнее */
	text-overflow: ellipsis;
}
